@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {
  --primary-btn-color: #006CEC;
}

body {
  background: #FEFEFE;
  margin: 0;
  font-family: 'Poppins';
}

.header {
  background: #000;
  padding: 1em;
}

.header .logo {
  width: 80%;
  margin-left: 1em;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.mobile-menu {
  cursor: pointer;
}

a {
  color: #444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 3em 4em;
}

.primary-cta {
  background: var(--primary-btn-color);
  color: white;
  text-decoration: none;
  width: 80%;
  padding: .6em 1em;
  margin-top: 1.5em;
  font-size: 1.3em;
  border-radius: 5em;
  display: inline-block;
  text-shadow: none;
}

.hero {
  text-align: center;
}

.hero .main-illustration .hero-img-1 {
  display: none;
}

.hero .main-illustration .hero-img-2 {
  width: 95%;
}

.hero .left-col h1 {
  color: #404040;
  text-align: left;
  font-weight: bold;
  font-size: 1.3em;
}

@media only screen and (min-width: 403px) and (max-width: 424px) {
  .hero .left-col h1 {
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .hero .left-col h1 {
    font-size: 1.7em;
  }
}

.hero .left-col .subhead {
  max-width: 10em;
  color: #626262;
  font-weight: 400;
  font-size: 0.8em;
  display: inline-block;
  vertical-align: top;
  margin-left: .25em;
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .hero .left-col .subhead {
    max-width: 10em;
  }
}

.hero .separator {
  display: block;
  width: 100%;
  margin-top: 4em;
  margin-bottom: 6em;
  background: black;
}

.scope-section {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#2E87F1), color-stop(18.92%, rgba(173, 211, 255, 0.644154)), to(rgba(255, 255, 255, 0))), #0083E1;
  background: linear-gradient(180deg, #2E87F1 0%, rgba(173, 211, 255, 0.644154) 18.92%, rgba(255, 255, 255, 0) 100%), #0083E1;
  color: white;
  text-shadow: 0px 2px #666;
}

.scope-section .small-terminal {
  width: 100%;
  position: relative;
  top: -8em;
  margin-bottom: -8em;
  z-index: 5;
}

.scope-section .terminal {
  display: none;
}

.scope-section .cloud-1 {
  width: 60%;
  position: relative;
  top: -7em;
  margin-bottom: -7em;
  left: -5em;
  z-index: 6;
}

.scope-section .cloud-2 {
  display: none;
}

.scope-section .cloud-3 {
  width: 55%;
  position: relative;
  top: -24em;
  right: -5em;
  margin-bottom: -11em;
  z-index: 3;
}

.scope-section .cloud-4 {
  width: 70%;
  position: relative;
  top: -18em;
  left: -3em;
  margin-bottom: -11em;
  z-index: 3;
}

.scope-section .arrow {
  display: block;
  position: relative;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  z-index: 7;
}

.scope-section .info-container {
  margin-top: 5em;
  margin-bottom: 5em;
}

.scope-section .info-container .info-onpt {
  display: block;
  position: relative;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 6;
}

.scope-section .info-container h1 {
  font-size: 3em;
}

.scope-section .info-container h2 {
  font-size: 1.6em;
}

.scope-section .info-container p {
  line-height: 140%;
  font-size: 18px;
}

.scope-section .info-container p span {
  color: #3b3b3b;
  font-size: 1.3em;
  font-weight: bold;
  text-shadow: none;
}

footer {
  background-color: #999;
  text-align: center;
  color: #3b3b3b;
}
/*# sourceMappingURL=main.css.map */